.início {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 15px;
    margin: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 227, 227);
    border-radius: 8px;
    
    


}

.Principal{
    padding-top: 100px;
}

.png{
    width: 70px;
    height:70px ;
    padding-left: 110px;
}

.txt{
    display: flex;
    width: 310px;
    text-align: center;

}

.title {
    font-size: 45px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

.abertura {
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}


.quartos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
}

.qp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;


}


.quarto1 {
    width: 540px;
    height: 540px;
    max-width: 100%;
    max-height: 100%;
    display: flex;
}

.quarto2 {
    width: 235px;
    height: 235px;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 50px;

}

.paleta {
    width: 235px;
    height: 235px;
    max-width: 100%;
    max-height: 100%;

}

.dica {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    background-color: rgb(230, 225, 225);
    border-radius: 10px;
    border: 3px solid rgb(214, 211, 211);
    line-height: 5px;
}


.dica2 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    background-color: rgb(230, 225, 225);
    border-radius: 10px;
    border: 3px solid rgb(214, 211, 211);
    line-height: 5px;
}

.dica3 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    background-color: rgb(230, 225, 225);
    border-radius: 10px;
    border: 3px solid rgb(214, 211, 211);
    line-height: 5px;
}

.dica4 {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 200px;
    background-color: rgb(230, 225, 225);
    border-radius: 10px;
    border: 3px solid rgb(214, 211, 211);
    line-height: 5px;
}

/* Subscription Plans */

.subscription {
    background: url("../images/background-movies-series.png") no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .subscriptionPlans {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 40px 0;
    perspective: 2000px;
    perspective-origin: top;
  }
  
  .subscriptionCard {
    background: rgb(194, 193, 193);
    padding: 40px 60px;
    border-radius: 8px;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 1s ease-in-out;
  }
  
  .subscriptionPlans:has(.subscriptionCard:nth-child(1):hover)
    .subscriptionCard:nth-child(2) {
    transform: rotateY(-45deg);
  }
  
  .subscriptionPlans:has(.subscriptionCard:nth-child(2):hover)
    .subscriptionCard:nth-child(1) {
    transform: rotateY(45deg);
  }
  
  .subscriptionDescription {
    text-align: left;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 14px;
    padding-left: 14px;
  }
  
  .subscriptionPrice{
    font-size: 2rem;
    font-family: 'Releway', sans-serif;
    color: var(--secondary-color);
    font-weight: bold;
  }
  
  .subscriptionPrice .textsmall {
    color: var(--text-color);
  }
  
  .subscriptionPlan{
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  .textsmall {
    max-width: 300px;
    text-align: center;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
  }

  .button {
    background-color: var(--tertiary-color);
    border-radius: 500px;
    padding: 16px 40px;
    cursor: pointer;
    color: var(--text-color);
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: none;
  }

  .button:hover{

    background-color: var(--secondary-color);
    background-position: 100%;
    outline: 2px solid var(--secondary-color);
    transform: scale(1.05);
    transition: 0.5s;
  
  }